*{
            margin: 0;
            padding: 0;  
            box-sizing: border-box;
            font-family: sans-serif;
        }
        .topmenu{
            width: 1000px;
            height: 50px;
            background-color:black;
        }
        .m{
            display: block;
            list-style: none;
            list-style-type: none;
            color: white;
            text-align: center;
            line-height: 50px;
            height: 50px;
            width: 200px;
            float: left;
        }
        .sub{
            display: block;
            color: black;
            text-align: center;
            height: 0px;
            margin: 0 auto;
            overflow: hidden;
            list-style: none;
            transition-duration:0.3s;
        }
        .msub{
        margin-top: 100px;
        margin-left: 200px
        }
        .ssub{
        display: block;
        color: black;
        text-align: center;
        overflow: hidden;
        list-style: none;
        height: 0px;
        width: 200px;
        transition-duration: 0.3px;
        }
        .sub:hover{
            color: #7e7e7e;
            background-color: #efefef;
            
        }
        .m:hover .sub{
            height: 50px;
        }
        .m:hover .m{
            color: #7e7e7e;
            background-color: #2d2d2d;
        }
#namu{
    display: block;
    text-decoration: none;
    color: yellowgreen;
}
.msub:hover .susb{
    height: 50px;
    border: 1px solid black;
}